# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
lib/
wheels/

# Testing
.pytest_cache/

# IDEs
.vscode/
.idea/

# Project-specific
data/saves/
data/cache/
data/db/*.db
data/db/*.db-shm
data/db/*.db-wal
*.log